.item header {
  display: block;
  background-color: transparent;
  padding: 0;
  position: static;
  margin-bottom: 24px;
}

.img-item {
  height: 360px;
  width: 100%;
}

.tokyo .img-item {
  background: url(../img/Tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.osaka .img-item {
  background: url(../img/Osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.item {
  padding: 0 24px;
}

.destination-itens {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 24px 0;
}

.item p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.item footer .button {
  width: 312px;
}

@media screen and (min-width: 768px) {
  .img-item {
    height: 452px;
  }

  .item {
    padding: 0 60px;
  }

  .item footer .button {
    width: 280px;
    margin: 0;
  }
}
